{% extends 'leagues/_league_base.html' %}

{% block title %}Schedule | {{ team.abbreviation }} - Season {{ season.season_number }}{% endblock title %}

{% block content %}
  <h1>
    Schedule &middot; {{ team.location }} {{ team.name }}
    {% if team.userteam %}
      <span class="my-team-tag">GM</span>
    {% endif %}
  </h1>

  <div class="btn-group dropend mt-2">
    <button class="btn btn-warning dropdown-toggle" type="button" id="filter-by-team" data-bs-toggle="dropdown" aria-expanded="false">
      Select a team
    </button>
    <ul class="dropdown-menu" aria-labelledby="filter-by-team">
      {% for new_team in team_list %}
        <li><a class="dropdown-item team-dropdown-item{% if new_team == team %} active{% endif %}" href="{% url 'leagues:team_schedule' league.slug new_team.slug %}">{{ new_team.abbreviation }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  <hr>
  {% for matchup in matchups %}
    <p>
      <span>Week {{ matchup.week_number }} - </span>
      <span class="{% if matchup.scoreboard.get_winner == matchup.away_team %}
                    text-success
                   {% else %}
                    text-danger
                   {% endif %}
                   {% if team == matchup.away_team %}
                    fw-bold
                   {% endif %}">
        {{ matchup.away_team.abbreviation }}
      </span>
      {% if matchup.week_number < season.week_number %}
        - <span class="fw-bold">{{ matchup.scoreboard.away_score }}</span>
      {% endif %} @
      <span class="{% if matchup.scoreboard.get_winner == matchup.home_team %}
                     text-success
                   {% else %}
                     text-danger
                   {% endif %}
                   {% if team == matchup.home_team %}
                    fw-bold
                   {% endif %}">
        {{ matchup.home_team.abbreviation }}
      </span>
      {% if matchup.week_number < season.week_number %}
        - <span class="fw-bold">{{ matchup.scoreboard.home_score }}</span>
      {% endif %} -
      <a href="{{ matchup.get_absolute_url }}">Details</a>
    </p>
    {% if matchup.week_number == bye_week|add:"-1" %}
      <p>Week {{ bye_week }} - Bye week</p>
    {% endif %}
  {% endfor %}
{% endblock content %}