{% extends 'leagues/_league_base.html' %}

{% block title %}Schedule | {{ team.name }}{% endblock title %}

{% block content %}
  <h2>
    Schedule - {{ team }}
    {% if team.userteam %}
      <span class="my-team-tag">GM</span>
    {% endif %}
  </h2>
  <a href="{{ team.get_absolute_url }}">&larr; Team Home</a>
  <hr>
  {% for matchup in matchups %}
    <p>
      <span>Week {{ matchup.week_number }} - </span>
      <span style="{% if matchup.scoreboard.get_winner == matchup.away_team %}
                     color: darkgreen;
                   {% else %}
                     color: darkred;
                   {% endif %}
                   {% if team == matchup.away_team %}
                     font-weight: bold;
                   {% endif %}">
        {{ matchup.away_team.name }}
      </span>
      {% if matchup.week_number < season.week_number %}
        - <span style="font-weight:bold;">{{ matchup.scoreboard.away_score }}</span>
      {% endif %} @
      <span style="{% if matchup.scoreboard.get_winner == matchup.home_team %}
                     color: darkgreen;
                   {% else %}
                     color: darkred;
                   {% endif %}
                   {% if team == matchup.home_team %}
                     font-weight: bold;
                   {% endif %}">
        {{ matchup.home_team.name }}
      </span>
      {% if matchup.week_number < season.week_number %}
        - <span style="font-weight:bold;">{{ matchup.scoreboard.home_score }}</span>
      {% endif %} -
      <a href="{{ matchup.get_absolute_url }}">Details</a>
    </p>
  {% endfor %}
{% endblock content %}