{% extends 'leagues/_league_base.html' %}

{% block title %}{{ team.abbreviation }} | {{ league }}{% endblock title %}

{% block content %}
  <div>
    <h2>
      Home &middot; {{ team }}
      {% if team.userteam %}
        <span class="my-team-tag">GM</span>
      {% endif %}
    </h2>
    <a href="{% url 'leagues:team_list' league.slug %}">&larr; Return to Teams</a>
    <hr>
    <div>
      {% if team.userteam %}
        <p>You're the GM of this team.</p>
      {% endif %}
      <p>Overall: {{ team.overall_rating }}</p>
      <a href="{% url 'leagues:team_roster' league.slug team.slug %}" class="btn btn-primary" role="button">
        Roster
      </a>
      <a href="{% url 'leagues:depth_chart' league.slug team.slug %}" class="btn btn-primary" role="button">
        Depth Chart
      </a>
      <a href="{% url 'leagues:team_schedule' league.slug team.slug %}" class="btn btn-primary" role="button">
        Schedule
      </a>
    </div>
  </div>
{% endblock content %}
