{% extends 'leagues/_league_base.html' %}

{% block title %}Teams | {{ league.name }}{% endblock title %}

{% block sidebar %}
<div class="col-2 flex-shrink-0 mt-5 bg-white">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Welcome, {{ user }}</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="false">
        Start
      </button>
      <div class="collapse" id="start-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'league_list' %}" class="link-dark rounded">My Leagues</a></li>
          <li><a href="{% url 'league_create' %}" class="link-dark rounded">New League</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#league-collapse" aria-expanded="true">
        League: {{ league.name }}
      </button>
      <div class="collapse show" id="league-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{{ league.get_absolute_url }}" class="link-dark rounded">Home</a></li>
          <li><a href="{% url 'team_list' league.pk %}" class="link-dark rounded">Teams</a></li>
        </ul>
      </div>
    </li>
    {% if league.userteam %}
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#team-collapse" aria-expanded="false">
          Team: {{ league.userteam.team.name }}
        </button>
        <div class="collapse" id="team-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'team_detail' league.pk league.userteam.team.pk %}" class="link-dark rounded">My Team</a></li>
            <li><a href="{% url 'team_roster' league.pk league.userteam.team.pk %}" class="link-dark rounded">Roster</a></li>
            <li><a href="{% url 'depth_chart' league.pk league.userteam.team.pk %}" class="link-dark rounded">Depth Chart</a></li>
          </ul>
        </div>
      </li>
    {% endif %}
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'account_change_password' %}" class="link-dark rounded">Change Password</a></li>
          <li><a href="{% url 'account_logout' %}" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
  <h2>Team Standings &middot; Week {{ season.week_number }} Season {{ season.season_number }} &middot; {{ league.name }}</h2>
  <a href="{% url 'league_detail' league.pk %}">&larr; League Home</a>
  <hr>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">Streak</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
          </tr>
        </thead>
        <tbody>
      {% for standing in standings %}
        <tr>
          <th scope="row"><a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a></th>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.losses }}</td>
          <td>{{ standing.ties }}</td>
          <td>{{ standing.streak }}</td>
          <td>{{ standing.points_for }}</td>
          <td>{{ standing.points_against }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
