{% extends '_base.html' %}

{% block title %}Team Roster | {{ team.location }} {{ team.name }} | {{ league.name }}{% endblock title %}

{% block sidebar %}
<div class="col-2 flex-shrink-0 mt-5 bg-white">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Welcome, {{ user }}</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="true">
        Start
      </button>
      <div class="collapse show" id="start-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'league_list' %}" class="link-dark rounded">My Leagues</a></li>
          <li><a href="{% url 'league_create' %}" class="link-dark rounded">New League</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#league-collapse" aria-expanded="false">
        League: {{ league.name }}
      </button>
      <div class="collapse" id="league-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
          <li><a href="{{ league.get_absolute_url }}" class="link-dark rounded">Home</a></li>
          <li><a href="{% url 'team_list' league.pk %}" class="link-dark rounded">Teams</a></li>
        </ul>
      </div>
    </li>
    {% if team.user %}
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#team-collapse" aria-expanded="false">
          Team: {{ team.name }}
        </button>
        <div class="collapse" id="team-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
            <li><a href="{% url 'team_detail' league.pk team.pk %}" class="link-dark rounded">My Team</a></li>
            <li><a href="{% url 'team_roster' league.pk team.pk %}" class="link-dark rounded">Roster</a></li>
          </ul>
        </div>
      </li>
    {% endif %}
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
          <li><a href="{% url 'account_change_password' %}" class="link-dark rounded">Change Password</a></li>
          <li><a href="{% url 'account_logout' %}" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
  <h2>Team Roster &middot; {{ team.location }} {{ team.name }} ({{ team.abbreviation }}) &middot; {{ league.name }}</h2>
  <a href="{% url 'team_detail' league.pk team.pk %}">&larr; Team Home</a>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">AGE</th>
          <th scope="col">EXP</th>
          <th scope="col">POS</th>
          <th scope="col">PRO</th>
          <th scope="col">OVR</th>
          <th scope="col">POT</th>
          <th scope="col">CON</th>
          <th scope="col">IQ</th>
          <th scope="col">SPD</th>
          <th scope="col">STR</th>
          <th scope="col">AGI</th>
          <th scope="col">AWR</th>
          <th scope="col">STA</th>
          <th scope="col">INJ</th>
          <th scope="col">ROFF</th>
          <th scope="col">POFF</th>
          <th scope="col">RDEF</th>
          <th scope="col">PDEF</th>
          <th scope="col">SPOFF</th>
          <th scope="col">SPDEF</th>
        </tr>
      </thead>
      <tbody>
    {% for player in team.players.all %}
      <tr>
        <th scope="row">{{ player.first_name }} {{ player.last_name }}</th>
        <td>{{ player.age }}</td>
        <td>{{ player.experience }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.prototype }}</td>
        <td>{{ player.overall_rating }}</td>
        <td>{{ player.potential }}</td>
        <td>{{ player.confidence }}</td>
        <td>{{ player.iq }}</td>
        <td>{{ player.speed }}</td>
        <td>{{ player.strength }}</td>
        <td>{{ player.agility }}</td>
        <td>{{ player.awareness }}</td>
        <td>{{ player.stamina }}</td>
        <td>{{ player.injury }}</td>
        <td>{{ player.run_off }}</td>
        <td>{{ player.pass_off }}</td>
        <td>{{ player.run_def }}</td>
        <td>{{ player.pass_def }}</td>
        <td>{{ player.special_off }}</td>
        <td>{{ player.special_def }}</td>
      </tr>    
    {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}