{% extends 'leagues/_league_base.html' %}

{% block title %}{{ team.location }} {{ team.name }} ({{ team.abbreviation }}) | {{ league.name }}{% endblock title %}

{% block content %}
  <div>
    <h2>
      Home &middot; {{ team }}
      {% if team.userteam %}
        <span class="my-team-tag">GM</span>
      {% endif %}
    </h2>
    <a href="{% url 'team_list' league.pk %}">&larr; Return to Teams</a>
    <hr>
    <div>
      {% if team.userteam %}
        <p>You're the GM of this team.</p>
      {% endif %}
      <p>Overall: {{ team.calc_team_overall }}</p>
      <a href="{% url 'team_roster' league.pk team.pk %}" class="btn btn-primary" role="button">
        Roster
      </a>
      <a href="{% url 'depth_chart' league.pk team.pk %}" class="btn btn-primary" role="button">
        Depth Chart
      </a>
      <a href="{% url 'team_schedule' league.pk team.pk %}" class="btn btn-primary" role="button">
        Schedule
      </a>
    </div>
  </div>
{% endblock content %}
