{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login | {{ block.super }}{% endblock title %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
  <div class="col-8 col-lg-4">
    <h1>Log In</h1>
    <form method="post" class="mt-3">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Log In</button>
      <a href="{% url 'account_reset_password' %}" class="ms-3">Forgot Password?</a>
    </form>      
  </div>
</div>
{% endblock content %}