{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login | {{ site.name }}{% endblock title %}

{% block content %}
  <div class="d-flex flex-row justify-content-center">
    <div style="width: 400px;">
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
      <br>
      <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
  </div>
{% endblock content %}