{% extends '_base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  {% comment %} Removing centering for authenticated users is to account for sidebar {% endcomment %}
  {% if not user.is_authenticated %}<div class="d-flex flex-row justify-content-center">{% endif %}
    <div class="col-8 col-lg-4">
      <h1>{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    {% if not user.is_authenticated %}</div>{% endif %}
  </div>
{% endblock %}