[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
environs = {extras = ["django"], version = "*"}
django-crispy-forms = "*"
django-allauth = "*"
django-extensions = "*"
pygraphviz = "*"
crispy-bootstrap5 = "*"
algorithm-x = "*"

[dev-packages]

[requires]
python_version = "3.9"
