{% extends 'leagues/_league_base.html' %}

{% block title %}Schedule | {{ team.abbreviation }} - Season {{ season.season_number }}{% endblock title %}

{% block content %}
<div class="d-flex flex-wrap justify-content-between">
  <div>
    <h1>
      Schedule &middot; {{ team.location }} {{ team.name }}
      {% if active_user_team.team == team %}
        <span class="my-team-tag">GM</span>
      {% endif %}
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'leagues:league_list' %}">Leagues</a></li>
        <li class="breadcrumb-item"><a href="{{ league.get_absolute_url }}">{{ league.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'teams:team_list' league.slug %}">Teams</a></li>
        <li class="breadcrumb-item"><a href="{{ team.get_absolute_url }}">{{ team.abbreviation }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Schedule</li>
      </ol>
    </nav>
  </div>
  <div>
    <div class="btn-group dropend mt-2">
      <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="filter-by-team" data-bs-toggle="dropdown" aria-expanded="false">
        Team switcher
      </button>
      <ul class="dropdown-menu" aria-labelledby="filter-by-team">
        {% for new_team in team_list %}
          <li><a class="dropdown-item team-dropdown-item{% if new_team == team %} active{% endif %}" href="{% url 'teams:team_schedule' league.slug new_team.slug %}">{{ new_team.abbreviation }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6 g-4 mt-2">
{% for matchup in matchups %}
  <div class="col">
    <h2 class="fs-4">
      <a href="{{ matchup.get_absolute_url }}" class="text-decoration-none">Week {{ matchup.week_number }}</a>
    </h2>
    <span class="{% if matchup.get_winner == matchup.away_team %}
                  text-success
                  {% else %}
                  text-danger
                  {% endif %}
                  {% if team == matchup.away_team %}
                  fw-bold
                  {% endif %}">
      {{ matchup.away_team.abbreviation }}
    </span>
    {% if matchup.week_number < season.week_number %}
      - <span class="fw-bold">{{ matchup.away_score }}</span>
    {% endif %} @
    <span class="{% if matchup.get_winner == matchup.home_team %}
                    text-success
                  {% else %}
                    text-danger
                  {% endif %}
                  {% if team == matchup.home_team %}
                  fw-bold
                  {% endif %}">
      {{ matchup.home_team.abbreviation }}
    </span>
    {% if matchup.week_number < season.week_number %}
      - <span class="fw-bold">{{ matchup.home_score }}</span>
    {% endif %}
  </div>
  {% if matchup.week_number == bye_week|add:"-1" %}
    <div class="col">
      <h2 class="fs-5 text-muted">Week {{ bye_week }}</h2>
      <span class="text-muted">BYE WEEK</span>
    </div>
  {% endif %}
{% endfor %}
</div>
{% endblock content %}