{% extends 'leagues/_league_base.html' %}

{% block title %}Teams | {{ league }}{% endblock title %}

{% block content %}
  <h1>Teams &middot; {{ league }}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'leagues:league_list' %}">Leagues</a></li>
      <li class="breadcrumb-item"><a href="{{ league.get_absolute_url }}">{{ league.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Teams</li>
    </ol>
  </nav>
  <hr>
  {% if not league.userteam %}
    <div class="col col-md-8 col-lg-6 mt-4">
      <h2>Welcome to your new league, {{ user }}.</h2>
      <p class="mt-3">Start by reviewing the rosters, then pick which team you want to sign onto as GM. Once you choose a team, you're locked in until your contract expires so choose wisely!</p>
      {% include 'teams/forms/team_select_form.html' %}
    </div>
  {% endif %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-2">
    {% for team in team_list %}
      <div class="col">
        <div class="card {% if team.userteam %} bg-warning bg-opacity-25{% endif %}">
          <div class="card-body d-flex flex-column align-items-center">
            <h3 class="card-title fs-4 text-center">
              <a href="{{ team.get_absolute_url }}" class="text-decoration-none link-dark">{{ team.location }} {{ team.name }}</a>              
            </h3>
            <a href="{% url 'teams:depth_chart' league.slug team.slug %}" class="btn btn-sm btn-outline-primary mt-2">
              Depth Chart
            </a>
          </div>
          <div class="card-footer text-muted text-center">
            {{ team.overall_rating }} overall
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
