{% extends 'leagues/_league_base.html' %}

{% block title %}Standings | Week {{ season.week_number }} - {{ season }}{% endblock title %}

{% block content %}
<h1>Standings &middot; Week {{ season.week_number }} &middot; Season {{ season.season_number }}</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'leagues:league_list' %}">Leagues</a></li>
    <li class="breadcrumb-item"><a href="{{ league.get_absolute_url }}">{{ league.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Standings</li>
  </ol>
</nav>
<hr>
<nav>
  <ul class="pagination pagination d-flex flex-wrap">
    <li class="page-item{% if not entity %} active" aria-current="page{% endif %}">
      <a class="page-link" aria-current="page" href="{% url 'seasons:league_standings' league.slug %}">Division</a>
    </li>
    <li class="page-item{% if entity == "conference" %} active" aria-current="page{% endif %}">
      <a class="page-link" aria-current="page" href="{% url 'seasons:league_standings_entity' league.slug "conference"|urlencode %}">Conference</a>
    </li>
    <li class="page-item{% if entity == "power" %} active" aria-current="page{% endif %}">
      <a class="page-link" aria-current="page" href="{% url 'seasons:league_standings_entity' league.slug "power"|urlencode %}">Power</a>
    </li>
  </ul>
</nav>
{% if not entity %}
  <ul>
    <li>Division rankings are determined by W/L/T, PF and PA in that order.</li>
    <li>Z = First round bye &middot; Y = Clinched division &middot; X = Clinched playoff berth &middot; O = Missed playoffs</li>
  </ul>
  <div class="mt-5">
    {% for conference in league.conferences.all %}
      <h2 class="mt-5">{{ conference.name }}</h2>
      <hr>
      {% for division in conference.divisions.all %}
        <div class="table-responsive mb-2">
          <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
            <caption>{{ division.name }}</caption>
            <colgroup>
              <col span="2">
              <col span="4" class="col-wlt">
              <col span="3">
              <col span="2" class="col-ha">
              <col span="3">
              <col span="2" class="col-recent">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">{{ division.name }}</th>
                <th scope="col">W</th>
                <th scope="col">L</th>
                <th scope="col">T</th>
                <th scope="col">W%</th>
                <th scope="col">PF</th>
                <th scope="col">PA</th>
                <th scope="col">+/-</th>
                <th scope="col">Home</th>
                <th scope="col">Away</th>
                <th scope="col">Div</th>
                <th scope="col">Conf</th>
                <th scope="col">Non-Conf</th>
                <th scope="col">Streak</th>
                <th scope="col">Last 5</th>
              </tr>
            </thead>
            <tbody>
          {% for standing in division_standings %}
            {% if standing.team in division.teams.all %}
            <tr {% if active_user_team.team == standing.team %}class="table-active bg-warning bg-opacity-25"{% endif %}>
              <th scope="row">{{ standing.ranking.division_ranking }}</th>
              <td>
                <a class="standing-team" href="{{ standing.team.get_absolute_url }}">{{ standing.team.location }} {{ standing.team.name }}</a>
                {% if standing.ranking.clinch_bye %}
                  <span class="clinches clinch-bye">
                    Z
                  </span>
                {% elif standing.ranking.clinch_div %}
                  <span class="clinches clinch-div">
                    Y
                  </span>
                {% elif standing.ranking.clinch_berth %}
                  <span class="clinches clinch-berth">
                    X
                  </span>
                {% elif standing.ranking.clinch_none %}
                  <span class="clinches no-clinch">
                    O
                  </span>
                {% else %}
                {% endif %}
              </td>
              <td>{{ standing.wins }}</td>
              <td>{{ standing.losses }}</td>
              <td>{{ standing.ties }}</td>
              <td>{{ standing.win_pct|floatformat:3 }}</td>
              <td>{{ standing.points_for }}</td>
              <td>{{ standing.points_against }}</td>
              <td>{{ standing.pt_diff }}</td>
              <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
              <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
              <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
              <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
              <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
              <td class="streak-value">{{ standing.streak }}</td>
              <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
            </tr>
            {% endif %}
          {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
{% if entity == "conference" %}
  <div class="mt-5">
    {% for conference in league.conferences.all %}
      <h2 class="mt-5">{{ conference.name }} - Playoff Picture</h2>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
          <caption>Top 4 = Division leaders &middot; Top 7 = Playoff contenders &middot;
          Z = First round bye &middot; Y = Clinched division &middot; X = Clinched playoff berth &middot; O = Missed playoffs</caption>
          <colgroup>
            <col span="2">
            <col span="4" class="col-wlt">
            <col span="3">
            <col span="2" class="col-ha">
            <col span="3">
            <col span="2" class="col-recent">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">{{ conference.name }}</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">T</th>
              <th scope="col">W%</th>
              <th scope="col">PF</th>
              <th scope="col">PA</th>
              <th scope="col">+/-</th>
              <th scope="col">Home</th>
              <th scope="col">Away</th>
              <th scope="col">Div</th>
              <th scope="col">Conf</th>
              <th scope="col">Non-Conf</th>
              <th scope="col">Streak</th>
              <th scope="col">Last 5</th>
            </tr>
          </thead>
          <tbody>
        {% for standing in conference_standings %}
          {% if standing.team.division in conference.divisions.all %}
          <tr class="{% if active_user_team.team == standing.team %}table-active bg-warning bg-opacity-25{% else %}table-light{% endif %}{% if standing.ranking.conference_ranking == 4 %} table-row-divider-green{% endif %}{% if standing.ranking.conference_ranking == 7 %} table-row-divider-red{% endif %}">
            <th scope="row">{{ standing.ranking.conference_ranking }}</th>
            <td>
              <a class="standing-team" href="{{ standing.team.get_absolute_url }}">{{ standing.team.location }} {{ standing.team.name }}</a>
              {% if standing.ranking.clinch_bye %}
                <span class="clinches">
                  Z
                </span>
              {% elif standing.ranking.clinch_div %}
                <span class="clinches">
                  Y
                </span>
              {% elif standing.ranking.clinch_berth %}
                <span class="clinches">
                  X
                </span>
              {% elif standing.ranking.clinch_none %}
                <span class="clinches no-clinch">
                  O
                </span>
              {% else %}
              {% endif %}
            </td>
            <td>{{ standing.wins }}</td>
            <td>{{ standing.losses }}</td>
            <td>{{ standing.ties }}</td>
            <td>{{ standing.win_pct|floatformat:3 }}</td>
            <td>{{ standing.points_for }}</td>
            <td>{{ standing.points_against }}</td>
            <td>{{ standing.pt_diff }}</td>
            <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
            <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
            <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
            <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
            <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
            <td class="streak-value">{{ standing.streak }}</td>
            <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
          </tr>
          {% endif %}
        {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if entity == "power" %}
  <h2 class="mt-5">{{ league.name }} Power Rankings</h2>
  <hr>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
      <caption>Power rankings are determined by W/L/T, team rating and recent performance in that order.</caption>
      <colgroup>
        <col span="2">
        <col span="4" class="col-wlt">
        <col span="3">
        <col span="2" class="col-ha">
        <col span="3">
        <col span="2" class="col-recent">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">OVR</th>
          <th scope="col">{{ league.name }}</th>            
          <th scope="col">W</th>
          <th scope="col">L</th>
          <th scope="col">T</th>
          <th scope="col">W%</th>                     
          <th scope="col">PF</th>
          <th scope="col">PA</th>
          <th scope="col">+/-</th>            
          <th scope="col">Home</th>
          <th scope="col">Away</th>
          <th scope="col">Div</th>
          <th scope="col">Conf</th>
          <th scope="col">Non-Conf</th>
          <th scope="col">Streak</th> 
          <th scope="col">Last 5</th>
        </tr>
      </thead>
      <tbody>
    {% for standing in standings %}
      <tr {% if active_user_team.team == standing.team %}class="table-active bg-warning bg-opacity-25"{% endif %}>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ standing.team.overall_rating }}</td>
        <td>
          <a class="standing-team" href="{{ standing.team.get_absolute_url }}">{{ standing.team.location }} {{ standing.team.name }}</a>            
          {% if standing.ranking.clinch_bye %}
            <span class="clinches clinch-bye">
              Z
            </span>
          {% elif standing.ranking.clinch_div %}
            <span class="clinches clinch-div">
              Y
            </span>
          {% elif standing.ranking.clinch_berth %}
            <span class="clinches clinch-berth">
              X             
            </span>     
          {% elif standing.ranking.clinch_none %}
            <span class="clinches no-clinch">
              O
            </span>
          {% else %}
          {% endif %}
        </td>
        <td>{{ standing.wins }}</td>
        <td>{{ standing.losses }}</td>
        <td>{{ standing.ties }}</td>   
        <td>{{ standing.win_pct|floatformat:3 }}</td>                
        <td>{{ standing.points_for }}</td>
        <td>{{ standing.points_against }}</td>
        <td>{{ standing.pt_diff }}</td>          
        <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
        <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
        <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
        <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
        <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
        <td class="streak-value">{{ standing.streak }}</td> 
        <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock content %}
