/* Main */

.logo {
    font-size: 30px;
    margin-right: 20px;
}

.messages {
    margin-top: 10px;
}

.table-active {
    background-color:yellow;
    --bs-table-accent-bg: none !important;
    box-shadow: none;
}

colgroup > .col-wlt {
    background-color: rgb(247, 247, 247);
}

colgroup > .col-ha {
    background-color: rgb(247, 247, 247);
}

colgroup > .col-recent {
    background-color: rgb(247, 247, 247);
}

/* Teams */

.team-list-wrapper {
    height: 150px;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-left: 30px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 10px;
}

.team-list-wrapper a {
    text-decoration: none;
}

.team-list-name {
    margin-top: 25px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.team-list-welcome {
    width: 500px;
}

#team-select {
    width: 300px;
}

.my-team-tag {
    font-size: 14px;
    padding: 6px;
    border-radius: 4px;
    background-color: orange;
    color: black;
    margin-left: 15px;
    position: absolute;
}

/* Matchups */

.matchup-type {
    margin-top: 30px;
}

.matchup-wrapper {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    box-sizing: border-box;
    height: 80px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 15px 10px 15px 10px;
    border: 1px solid black;
}

.matchup-link {
    height: 80px;
    width: 150px;
    display: block;
    text-decoration: none;
}

.matchup-teams {
    font-size: 18px;
    text-align: center;
    color: black;
    margin: 12px 0 5px 0;
}

.matchup-score {
    text-align: center;
    color: black;
    font-size: 16px;
}
