/* Main (old css, needs updating) */

.logo {
  font-size: 30px;
  margin-right: 20px;
}

#advance-form {
  
}

#advance-select {
  background-color: #3bd05d;
  border-radius: 0;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23); 
  height: 45px;
  font-size: 18px; 
}

.messages {
  margin-top: 10px;
}

.table-active {
  background-color:#ffc107;
  --bs-table-accent-bg: none;
  box-shadow: none;
}

.table-row-divider {
  &-green {
    border-bottom: 2px dashed darkgreen !important;
  }
  &-red {
    border-bottom: 2px solid firebrick !important;
  }
}

colgroup > .col-wlt {
  background-color: rgb(247, 247, 247);
}

colgroup > .col-ha {
  background-color: rgb(247, 247, 247);
}

colgroup > .col-recent {
  background-color: rgb(247, 247, 247);
}

/* Teams */

.team-list-wrapper {
  height: 150px;
  width: 270px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 2px solid black;
}

.team-list-wrapper a {
  text-decoration: none;
}

.team-list-name {
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.team-rating {
  text-align: center;
}

.team-depth-link {
  text-align: center;
}

.team-list-welcome {
  width: 500px;
}

#team-select {
  width: 300px;
}

.my-team-tag {
  font-size: 14px;
  padding: 6px;
  border-radius: 4px;
  background-color: orange;
  color: black;
  margin-left: 15px;
  position: absolute;
}

.team-dropdown-item {
  font-size: 12px;
}

/* Matchups */

.matchup-section {
  margin: 10px 0 10px 0;
}

.matchup-section-header {
  font-size: 22px;
}

.matchup-wrapper {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 15px 10px 15px 10px;
  border: 2px solid black;
  transition: transform 0.5s;
}

.matchup-wrapper:hover {
  transform: scale(1.05);
}

.team-winner {
  color: darkgreen;
}

.conf1-border {
  border: 2px solid darkred;
  box-shadow: 0 2px 4px rgba(140, 0, 0, 0.16), 0 3px 6px rgba(140, 0, 0, 0.23);
}

.conf2-border {
  border: 2px solid darkblue;
  box-shadow: 0 2px 4px rgba(0, 28, 140, 0.16), 0 3px 6px rgba(0, 28, 140, 0.23);
}

.matchup-link {
  height: 150px;
  width: 150px;
  display: block;
  text-decoration: none;
}

.matchup-type {
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #333333;
  margin-top: 10px;
}

.matchup-teams {
  font-size: 22px;
  text-align: center;
  color: black;
  margin: 10px 0 0 0;
}

.matchup-score {
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.matchup-date {
  text-align: center;
  color: black;
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
}

.matchup-records {
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 0;
}

.matchup-record {
  margin: 0 5px 0 5px;
}

.bye-team {
  font-size: 24px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 0px;
  color: black;
}

.bye-matchup-record {
  font-size: 16px;
}

.bye-wrapper {
  height: 125px;
  transition: transform 0.5s;
}

.bye-wrapper:hover {
  transform: scale(1.05);
}

.bye-matchup-link {
  height: 125px;
}

/* Standings */

.clinches {    
  font-size: 14px;
  margin-left: 20px;
  margin-top: 2px;
  float: right;
  font-weight: bold;
  color: darkgreen;
}

.no-clinch {
  color: darkred;
}

.standing-team {
  margin-right: 10px;
}