{% extends 'leagues/_league_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete League | {{ league }}{% endblock title %}

{% block content %}
  <h1>Delete &middot; {{ league }}</h1>
  <a href="{% url 'leagues:league_detail' league.slug %}">&larr; League Home</a>
  <hr>
  <p>Are you sure you want to delete <i>{{ league }}</i>?<br>
  <strong>This action is irreversible</strong> and all league data will be lost.</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-danger" type="submit">Delete League</button>
    <br><br>
  </form>
{% endblock content %}