{% extends 'leagues/_league_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit League | {{ league }}{% endblock title %}

{% block content %}
  <h2>Edit &middot; {{ league }}</h2>
  <a href="{% url 'leagues:league_detail' league.slug %}">&larr; League Home</a>
  <hr>
  <div style="width: 450px;">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Save League</button>
      <br><br>
    </form>
  </div>
{% endblock content %}