{% extends 'leagues/_league_base.html' %}

{% block title %}League | {{ league.name }}{% endblock title %}

{% block sidebar %}
<div class="col-2 flex-shrink-0 mt-5 bg-white">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Welcome, {{ user }}</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="false">
        Start
      </button>
      <div class="collapse" id="start-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'league_list' %}" class="link-dark rounded">My Leagues</a></li>
          <li><a href="{% url 'league_create' %}" class="link-dark rounded">New League</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#league-collapse" aria-expanded="true">
        League: {{ league.name }}
      </button>
      <div class="collapse show" id="league-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
          <li><a href="{{ league.get_absolute_url }}" class="link-dark rounded">Home</a></li>
          <li><a href="{% url 'team_list' league.pk %}" class="link-dark rounded">Teams</a></li>
        </ul>
      </div>
    </li>
    {% if league.userteam %}
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#team-collapse" aria-expanded="false">
          Team: {{ league.userteam.team.name }}
        </button>
        <div class="collapse" id="team-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
            <li><a href="{% url 'team_detail' league.pk league.userteam.team.pk %}" class="link-dark rounded">My Team</a></li>
            <li><a href="{% url 'team_roster' league.pk league.userteam.team.pk %}" class="link-dark rounded">Roster</a></li>
          </ul>
        </div>
      </li>
    {% endif %}
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">            
          <li><a href="{% url 'account_change_password' %}" class="link-dark rounded">Change Password</a></li>
          <li><a href="{% url 'account_logout' %}" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
  <div class="row">
    <h2>Home &middot; {{ league.name }}</h2>
    <p><a href="{% url 'league_list' %}">&larr; Return to Leagues</a></p>
    <hr>
    <div class="col-6">
      <div class="pt-2 pb-3">
        <a href="{% url 'team_list' league.pk %}" class="btn btn-primary" role="button">
          View Teams
        </a>
        <a href="{% url 'league_edit' league.pk %}" class="btn btn-dark" role="button">
          Edit Info
        </a>
        <a href="{% url 'league_delete' league.pk %}" class="btn btn-danger" role="button">
          Delete League
        </a>
      </div>
      <h3>League Info</h3>
      
      <ul>
        <li>GM: {{ league.gm_name }}</li>
        <li>Created: {{ league.creation_date }}</li>
      </ul>
    </div>
  </div>
{% endblock content %}