{% extends 'leagues/_league_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete League | {{ league.name }}{% endblock title %}

{% block content %}
  <h2>Delete &middot; {{ league.name }}</h2>
  <a href="{% url 'league_detail' league.pk %}">&larr; League Home</a>
  <hr>
  <p>Are you sure you want to delete <i>{{ league.name }}</i>?<br>
  <strong>This action is irreversible</strong> and all league data will be lost.</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-danger" type="submit">Delete League</button>
    <br><br>
  </form>
{% endblock content %}