{% extends '_base.html' %}

{% block title %}Leagues{% endblock title %}

{% block content %}
  <h2>My Leagues &middot; {{ user }}</h2>
  <p><a href="{% url 'home' %}">&larr; Home</a></p>
  <hr>
  <a href="{% url 'league_create' %}">
    <button class="btn btn-dark mt-2 mb-3" type="submit">New League</button>
  </a>
  {% if not leagues %}
  <p>No leagues to display. Please create one above.</p>
  {% else %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">League Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Created</th>
          <th scope="col">GM</th>
        </tr>
      </thead>
      <tbody>
        {% for league in leagues %}
          <tr>
            <th scope="row"><a href="{{ league.get_absolute_url }}">{{ league.name }}</a></th>
            <td><a href="{% url 'league_edit' league.pk %}">Edit Info</a></td>
            <td><a href="{% url 'league_delete' league.pk %}" style="color:red;">Delete League</a>
            <td>{{ league.creation_date }}</td>
            <td>{{ league.gm_name }}</td>            
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock content %}