{% extends 'leagues/_league_base.html' %}

{% block title %}Matchup | {{ matchup }}{% endblock title %}

{% block content %}
  {% if matchup.week_number <= 18 %}
    <h1>Regular Season
  {% elif matchup.week_number == 19 %}
    <h1>Wildcard Round
  {% elif matchup.week_number == 20 %}
    <h1>Divisional Round
  {% elif matchup.week_number == 21 %}
    <h1>Conference Finals
  {% elif matchup.week_number == 22 %}
    <h1>Championship {{ season.season_number }}
  {% endif %}&middot; Week {{ matchup.week_number }} &middot; Season {{ season.season_number }}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'leagues:league_list' %}">Leagues</a></li>
      <li class="breadcrumb-item"><a href="{{ league.get_absolute_url }}">{{ league.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'leagues:weekly_matchups' league.slug %}">Matchups</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ matchup.away_team.abbreviation }} @ {{ matchup.home_team.abbreviation }}</li>
    </ol>
  </nav>
  <hr>
  
  <div class="matchup-wrapper {% if matchup.is_afc %}conf1-border{% elif matchup.is_nfc %}conf2-border{% endif %}">
    <a class="matchup-link" href="{{ matchup.get_absolute_url }}">
      <p class="matchup-type">
        {% if matchup.is_divisional %}
          Divisional
        {% elif matchup.is_conference %}
          Conference
        {% else %}
          Non-Conference
        {% endif %}
      </p>
      <p class="matchup-teams">
        <span class="team1 {% if matchup.scoreboard.get_winner == matchup.away_team %}team-winner fw-bold{% else %}team-not-played{% endif %}">
          {{ matchup.away_team.abbreviation }}
        </span>
        @
        <span class="team1 {% if matchup.scoreboard.get_winner == matchup.home_team %}team-winner fw-bold{% else %}team-not-played{% endif %}">
          {{ matchup.home_team.abbreviation }}
        </span>
      </p>  
      <p class="matchup-records">
        <span class="matchup-record">{{ matchup.away_team.get_current_record }}</span>
        <span class="matchup-record">{{ matchup.home_team.get_current_record }}</span>
      </p>               
      {% if matchup.week_number < season.week_number %}
        <p class="matchup-score">
          {{ matchup.scoreboard.away_score }}
          - {{ matchup.scoreboard.home_score }}
        </p>
      {% else %}
        <p class="matchup-date">
          {{ matchup.date }}
        </p>                
      {% endif %}              
    </a>
  </div>
{% endblock content %}
