{% extends 'leagues/_league_base.html' %}

{% block title %}Weekly Matchups | Week {{ week_num }} | Season {{ season.season_number }} | {{ league.name }}{% endblock title %}

{% block content %}
  {% if week_num <= 18 %}
    <h2>Regular Season
  {% elif week_num == 19 %}
    <h2>Wildcard Round
  {% elif week_num == 20 %}
    <h2>Divisional Round
  {% elif week_num == 21 %}
    <h2>Conference Finals
  {% elif week_num == 22 %}
    <h2>Super Bowl {{ season.season_number }}
  {% endif %}&middot; Week {{ week_num }} &middot; Season {{ season.season_number }}</h2>
  <a href="{% url 'leagues:league_detail' league.slug %}">&larr; League Home</a>
  <hr>

  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      {% for w in num_weeks %}
        <li class="page-item{% if week_num == w %} active" aria-current="page{% endif %}">
          <a class="page-link" href="{% url 'leagues:weekly_matchups_by_week' league.slug w %}">W{{ w }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  <br>
  {% if matchups %}
    {% for matchup in matchups %}
      <p>
        <span {% if matchup.scoreboard.get_winner == matchup.away_team %}style="color: darkgreen;"{% else %}style="color: darkred;"{% endif %}>
          {{ matchup.away_team.name }}
        </span>
        {% if matchup.week_number < season.week_number %}
          - <span style="font-weight:bold;">{{ matchup.scoreboard.away_score }}</span>
        {% endif %} @
        <span {% if matchup.scoreboard.get_winner == matchup.home_team %}style="color: darkgreen;"{% else %}style="color: darkred;"{% endif %}>
          {{ matchup.home_team.name }}
        </span>
        {% if matchup.week_number < season.week_number %}
          - <span style="font-weight:bold;">{{ matchup.scoreboard.home_score }}</span>
        {% endif %} -
        <a href="{{ matchup.get_absolute_url }}">Details</a>
      </p>
    {% endfor %}
  {% else %}
    <p>No matchups yet for this week.</p>
  {% endif %}
{% endblock content %}
