{% extends 'leagues/_league_base.html' %}

{% block title %}Teams | {{ league.name }}{% endblock title %}

{% block content %}
  <h2>Standings &middot; Week {{ season.week_number }} &middot; Season {{ season.season_number }}</h2>
  <a href="{% url 'league_detail' league.pk %}">&larr; League Home</a>
  <hr>

  <nav aria-label="...">
    <ul class="pagination pagination">
        <li class="page-item{% if not type %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings' league.pk %}">Division</a>
        </li>
        <li class="page-item{% if type == "conference" %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings_type' league.pk "conference"|urlencode %}">Conference</a>
        </li>
        <li class="page-item{% if type == "league" %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings_type' league.pk "league"|urlencode %}">League</a>
        </li>
    </ul>
  </nav>

  <br>

  {% if not type %}
    {% for conference in league.conferences.all %}
      {% for division in conference.divisions.all %}
        <h3>{{ division.name }}</h3>
        <hr>
          <div class="table-responsive mb-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Team</th>
                  <th scope="col">W</th>
                  <th scope="col">L</th>
                  <th scope="col">T</th>
                  <th scope="col">Streak</th>
                  <th scope="col">PF</th>
                  <th scope="col">PA</th>
                </tr>
              </thead>
              <tbody>
            {% for standing in division_standings %}
              {% if standing.team in division.teams.all %}
              <tr {% if standing.team.userteam %}style="background-color: orange;"{% endif %}>
                <th scope="row">{{ standing.ranking.division_ranking }}</th>
                <td>
                  <a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a>
                </td>
                <td>{{ standing.wins }}</td>
                <td>{{ standing.losses }}</td>
                <td>{{ standing.ties }}</td>
                <td>{{ standing.streak }}</td>
                <td>{{ standing.points_for }}</td>
                <td>{{ standing.points_against }}</td>
              </tr>
              {% endif %}
            {% endfor %}
              </tbody>
            </table>
          </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if type == "conference" %}
    <ul>
      <li>Top 4 teams in each conference are division leaders.</li>
      <li>Top 7 teams in each conference clinch a playoff spot.</li>
    </ul>
    <br>
    {% for conference in league.conferences.all %}
      <h3>{{ conference.name }}</h3>
      <hr>
          <div class="table-responsive mb-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Team</th>
                  <th scope="col">W</th>
                  <th scope="col">L</th>
                  <th scope="col">T</th>
                  <th scope="col">Streak</th>
                  <th scope="col">PF</th>
                  <th scope="col">PA</th>
                </tr>
              </thead>
              <tbody>
            {% for standing in conference_standings %}
              {% if standing.team.division in conference.divisions.all %}
              <tr style="{% if standing.team.userteam %}
                            background-color: orange;
                          {% endif %}
                          {% if standing.ranking.conference_ranking == 4 %}
                            border-bottom:2px dashed darkgreen;
                          {% endif %}
                          {% if standing.ranking.conference_ranking == 7 %}
                            border-bottom:2px solid darkgreen;
                          {% endif %}">     
                <th scope="row">{{ standing.ranking.conference_ranking }}</th>
                <td><a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a></td>
                <td>{{ standing.wins }}</td>
                <td>{{ standing.losses }}</td>
                <td>{{ standing.ties }}</td>
                <td>{{ standing.streak }}</td>
                <td>{{ standing.points_for }}</td>
                <td>{{ standing.points_against }}</td>
              </tr>
              {% endif %}
            {% endfor %}
              </tbody>
            </table>
          </div>
    {% endfor %}
  {% endif %}

  {% if type == "league" %}
    <h3>{{ league.name }}</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">Streak</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
          </tr>
        </thead>
        <tbody>
      {% for standing in standings %}
        <tr {% if standing.team.userteam %}style="background-color: orange;"{% endif %}>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a></td>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.losses }}</td>
          <td>{{ standing.ties }}</td>
          <td>{{ standing.streak }}</td>
          <td>{{ standing.points_for }}</td>
          <td>{{ standing.points_against }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock content %}
