{% extends 'leagues/_league_base.html' %}

{% block title %}Standings | {{ league.name }}{% endblock title %}

{% block content %}
  <h2>Standings &middot; Week {{ season.week_number }} &middot; Season {{ season.season_number }}</h2>
  <a href="{% url 'league_detail' league.pk %}">&larr; League Home</a>
  <hr>

  <nav aria-label="...">
    <ul class="pagination pagination">
        <li class="page-item{% if not type %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings' league.pk %}">Division</a>
        </li>
        <li class="page-item{% if type == "conference" %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings_type' league.pk "conference"|urlencode %}">Conference</a>
        </li>
        <li class="page-item{% if type == "power" %} active" aria-current="page{% endif %}">
          <a class="page-link" aria-current="page" href="{% url 'league_standings_type' league.pk "power"|urlencode %}">Power</a>
        </li>
    </ul>
  </nav>

  {% if not type %}
    <ul>
      <li>Division rankings are determined by W/L/T, PF and PA in that order.</li>
    </ul>
    {% for conference in league.conferences.all %}
    <br>
      <h3>{{ conference.name }}</h3>
      <hr>
      {% for division in conference.divisions.all %}        
          <div class="table-responsive mb-2">
            <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
              <caption>{{ division.name }}</caption>
              <colgroup>
                <col span="2">
                <col span="4" class="col-wlt">
                <col span="3">
                <col span="2" class="col-ha">
                <col span="3">
                <col span="2" class="col-recent">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">{{ division.name }}</th>
                  <th scope="col">W</th>
                  <th scope="col">L</th>
                  <th scope="col">T</th>
                  <th scope="col">W%</th>                  
                  <th scope="col">PF</th>
                  <th scope="col">PA</th>
                  <th scope="col">+/-</th>                  
                  <th scope="col">Home</th>
                  <th scope="col">Away</th>
                  <th scope="col">Div</th>
                  <th scope="col">Conf</th>
                  <th scope="col">Non-Conf</th>
                  <th scope="col">Streak</th>
                  <th scope="col">Last 5</th>
                </tr>
              </thead>
              <tbody>
            {% for standing in division_standings %}
              {% if standing.team in division.teams.all %}
              <tr {% if standing.team.userteam %}class="table-active"{% endif %}>
                <th scope="row">{{ standing.ranking.division_ranking }}</th>
                <td>
                  <a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a>
                </td>
                <td>{{ standing.wins }}</td>
                <td>{{ standing.losses }}</td>
                <td>{{ standing.ties }}</td>
                <td>{{ standing.win_pct|floatformat:3 }}</td>                
                <td>{{ standing.points_for }}</td>
                <td>{{ standing.points_against }}</td>
                <td>{{ standing.pt_diff }}</td>                
                <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
                <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
                <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
                <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
                <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
                <td class="streak-value">{{ standing.streak }}</td>
                <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
              </tr>
              {% endif %}
            {% endfor %}
              </tbody>
            </table>
          </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if type == "conference" %}
    {% for conference in league.conferences.all %}
      <br>
      <h3>{{ conference.name }} - Playoff Picture</h3>
      <hr>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
              <caption>Top 4 (division leaders) - Top 7 (playoffs)</caption>
              <colgroup>
                <col span="2">
                <col span="4" class="col-wlt">
                <col span="3">
                <col span="2" class="col-ha">
                <col span="3">
                <col span="2" class="col-recent">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">{{ conference.name }}</th>
                  <th scope="col">W</th>
                  <th scope="col">L</th>
                  <th scope="col">T</th>
                  <th scope="col">W%</th>                          
                  <th scope="col">PF</th>
                  <th scope="col">PA</th>
                  <th scope="col">+/-</th>                  
                  <th scope="col">Home</th>
                  <th scope="col">Away</th>
                  <th scope="col">Div</th>
                  <th scope="col">Conf</th>
                  <th scope="col">Non-Conf</th>
                  <th scope="col">Streak</th>      
                  <th scope="col">Last 5</th>
                </tr>
              </thead>
              <tbody>
            {% for standing in conference_standings %}
              {% if standing.team.division in conference.divisions.all %}
              <tr class="{% if standing.team.userteam %}
                            table-active
                          {% endif %}"
                  style="{% if standing.ranking.conference_ranking == 4 %}
                            border-bottom:2px dashed darkgreen;
                          {% endif %}
                          {% if standing.ranking.conference_ranking == 7 %}
                            border-bottom:2px solid firebrick;
                          {% endif %}">     
                <th scope="row">{{ standing.ranking.conference_ranking }}</th>
                <td><a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a></td>
                <td>{{ standing.wins }}</td>
                <td>{{ standing.losses }}</td>
                <td>{{ standing.ties }}</td>
                <td>{{ standing.win_pct|floatformat:3 }}</td>                            
                <td>{{ standing.points_for }}</td>
                <td>{{ standing.points_against }}</td>
                <td>{{ standing.pt_diff }}</td>                
                <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
                <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
                <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
                <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
                <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
                <td class="streak-value">{{ standing.streak }}</td>    
                <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
              </tr>
              {% endif %}
            {% endfor %}
              </tbody>
            </table>
          </div>
    {% endfor %}
  {% endif %}

  {% if type == "power" %}
    <br>
    <h3>{{ league.name }} Power Rankings</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered table-fixed text-nowrap caption-top w-auto">
        <caption>Power rankings are determined by W/L/T, team rating and recent performance in that order.</caption>
        <colgroup>
          <col span="2">
          <col span="4" class="col-wlt">
          <col span="3">
          <col span="2" class="col-ha">
          <col span="3">
          <col span="2" class="col-recent">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">OVR</th>
            <th scope="col">{{ league.name }}</th>            
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">W%</th>                     
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">+/-</th>            
            <th scope="col">Home</th>
            <th scope="col">Away</th>
            <th scope="col">Div</th>
            <th scope="col">Conf</th>
            <th scope="col">Non-Conf</th>
            <th scope="col">Streak</th> 
            <th scope="col">Last 5</th>
          </tr>
        </thead>
        <tbody>
      {% for standing in standings %}
        <tr {% if standing.team.userteam %}class="table-active"{% endif %}>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ standing.team.overall_rating }}</td>
          <td><a href="{% url 'team_detail' league.pk standing.team.pk %}">{{ standing.team.location }} {{ standing.team.name }}</a></td>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.losses }}</td>
          <td>{{ standing.ties }}</td>   
          <td>{{ standing.win_pct|floatformat:3 }}</td>                
          <td>{{ standing.points_for }}</td>
          <td>{{ standing.points_against }}</td>
          <td>{{ standing.pt_diff }}</td>          
          <td>{{ standing.home_wins }}-{{ standing.home_losses }}-{{ standing.home_ties }}</td>
          <td>{{ standing.away_wins }}-{{ standing.away_losses }}-{{ standing.away_ties }}</td>
          <td>{{ standing.div_wins }}-{{ standing.div_losses }}-{{ standing.div_ties }}</td>
          <td>{{ standing.conf_wins }}-{{ standing.conf_losses }}-{{ standing.conf_ties }}</td>
          <td>{{ standing.non_conf_wins }}-{{ standing.non_conf_losses }}-{{ standing.non_conf_ties }}</td>
          <td class="streak-value">{{ standing.streak }}</td> 
          <td>{{ standing.last_5_wins }}-{{ standing.last_5_losses }}-{{ standing.last_5_ties }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock content %}
