{% extends 'leagues/_league_base.html' %}

{% block title %}Weekly Matchups | Week {{ week_num }} | Season {{ season.season_number }} | {{ league.name }}{% endblock title %}

{% block content %}
  <h2>Matchups &middot; Week {{ week_num }} &middot; Season {{ season.season_number }}</h2>
  <a href="{% url 'league_detail' league.pk %}">&larr; League Home</a>
  <hr>

  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      {% for w in num_weeks %}
        <li class="page-item{% if week_num == w %} active" aria-current="page{% endif %}">
          <a class="page-link" href="{% url 'weekly_matchups_by_week' league.pk w %}">W{{ w }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  <br>
  {% for matchup in matchups %}
    {% if matchup.scoreboard.get_winner == matchup.away_team %}{% endif %}
    <p>
      <span {% if matchup.scoreboard.get_winner == matchup.away_team %}style="color: darkgreen;"{% else %}style="color: darkred;"{% endif %}>
        {{ matchup.away_team.name }}
      </span>
          {% if matchup.week_number < season.week_number %}
            - <span style="font-weight:bold;">{{ matchup.scoreboard.away_score }}</span>
          {% endif %} @
      <span {% if matchup.scoreboard.get_winner == matchup.home_team %}style="color: darkgreen;"{% else %}style="color: darkred;"{% endif %}>
        {{ matchup.home_team.name }}
      </span>
          {% if matchup.week_number < season.week_number %}
            - <span style="font-weight:bold;">{{ matchup.scoreboard.home_score }}</span>
          {% endif %} -
      <a href="{% url 'matchup_detail' league.pk matchup.pk %}">Details</a>
    </p>
  {% endfor %}
{% endblock content %}