# Core
Django
psycopg2-binary

# Django apps
django-allauth
django-debug-toolbar
django-extensions
django-crispy-forms
crispy-bootstrap5

# Misc
algorithm-x
pygraphviz

# Testing, etc.
pip-tools
flake8
black
isort
bandit[toml]
safety
pre-commit
pytest-django
pytest-cov