{% extends '_base.html' %}

{% block header %}
<header class="p-3 bg-dark text-white">
  <div class="d-flex flex-wrap align-items-center">
    <a href="{% url 'leagues:league_detail' league.slug %}" class="me-5 mb-3 mb-sm-0 text-white text-decoration-none">
      <span class="logo mb-0">{{ league }}</span>   
      <span class="m-0">Season {{ season.season_number }}</span> &middot;           
      <span class="m-0">Week {{ season.week_number }}</span> &middot; 
      <span class="m-0">{{ season.get_phase_display }}</span>
    </a>
    <ul class="nav mb-0 me-3">
      <div class="dropdown">          
        {% include 'leagues/forms/advance_season_form.html' %}           
      </div>          
    </ul>
</div>    
</header>
{% endblock header %}

{% block sidebar %}
<div class="col-2 flex-shrink-0 mt-4 bg-white">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Hello, {{ user }}</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#league-collapse" aria-expanded="true">
        League
      </button>
      <div class="collapse show" id="league-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{{ league.get_absolute_url }}" class="link-dark d-inline-flex text-decoration-none rounded">Details</a></li>
          <li><a href="{% url 'leagues:team_list' league.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Teams</a></li>
          <li><a href="{% url 'leagues:league_standings' league.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Standings</a></li>
          <li><a href="{% url 'leagues:weekly_matchups' league.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Matchups</a></li>
          <li><a href="{% url 'leagues:playoffs' league.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Playoffs</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Free Agents</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Prospects</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Stats & History</a></li>
        </ul>
      </div>
    </li>
    {% if league.userteam %}
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#team-collapse" aria-expanded="true">
          Team ({{ league.userteam.team.abbreviation }})
        </button>
        <div class="collapse show" id="team-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ league.userteam.team.get_absolute_url }}" class="link-dark d-inline-flex text-decoration-none rounded">Details</a></li>
            <li><a href="{% url 'leagues:team_roster' league.slug league.userteam.team.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Roster</a></li>
            <li><a href="{% url 'leagues:depth_chart' league.slug league.userteam.team.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Depth Chart</a></li>
            <li><a href="{% url 'leagues:team_schedule' league.slug league.userteam.team.slug %}" class="link-dark d-inline-flex text-decoration-none rounded">Schedule</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Trade Block</a></li>                      
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Finances</a></li>
          </ul>
        </div>
      </li>
    {% endif %}
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="true">
        Start
      </button>
      <div class="collapse show" id="start-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                      
          <li><a href="{% url 'leagues:league_list' %}" class="link-dark d-inline-flex text-decoration-none rounded">My Leagues</a></li>
          <li><a href="{% url 'leagues:league_create' %}" class="link-dark d-inline-flex text-decoration-none rounded">New League</a></li>                      
        </ul>
      </div>
    </li>                
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
        Account
      </button>
      <div class="collapse show" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'web:home' %}" class="link-dark d-inline-flex text-decoration-none rounded">Exit Game</a></li>
          <li><a href="{% url 'account_change_password' %}" class="link-dark d-inline-flex text-decoration-none rounded">Change Password</a></li>
          <li><a href="{% url 'account_logout' %}" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>                      
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endblock sidebar %}