{% extends 'leagues/_league_base.html' %}

{% block title %}League Home | {{ league }}{% endblock title %}

{% block content %}
<div class="row">
  <h1>Home &middot; {{ league }}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'leagues:league_list' %}">Leagues</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ league.name }}</li>
    </ol>
  </nav>
  <hr>
  <div class="my-3">
    <p class="text-muted">
      <strong>GM:</strong> {{ league.gm_name }}<br>
      <strong>Created:</strong> {{ league.creation_date }}
    </p>
    <div class="d-flex flex-wrap gap-2">
      <a href="{% url 'leagues:league_update' league.slug %}" class="btn btn-primary" role="button">
        Edit Info
      </a>
      <a href="{% url 'leagues:league_delete' league.slug %}" class="btn btn-danger" role="button">
        Delete
      </a>
    </div>
  </div>
  <div class="my-3">
    <h2>League</h2>
    <p>Explore the happenings across {{ league }}.</p>
    <div class="d-flex flex-wrap gap-2">
      <a href="{% url 'teams:team_list' league.slug %}" class="btn btn-dark" role="button">
        Teams
      </a>
      <a href="{% url 'seasons:league_standings' league.slug %}" class="btn btn-outline-dark" role="button">
        Standings
      </a>
      <a href="{% url 'matchups:weekly_matchups' league.slug %}" class="btn btn-outline-dark" role="button">
        Matchups
      </a>
      <a href="{% url 'matchups:playoffs' league.slug %}" class="btn btn-outline-dark" role="button">
        Playoffs
      </a>
    </div>
  </div>
  <div class="my-3">
    {% with active_user_team as myteam %}
    {% if not myteam %}
      <h2>Select your team</h2>
      <p>Head over to the <a href="{% url 'teams:team_list' league.slug %}">list of teams</a> to select which team you want to control.</p>
    {% else %}
      <h2>My Team</h2>
      <p>You're the GM of the <a href="{{ myteam.team.get_absolute_url }}">{{ myteam.team }}</a>.</p>
      <div class="d-flex flex-wrap gap-2">
        <a href="{{ myteam.team.get_absolute_url }}" class="btn btn-dark" role="button">
          Team Home
        </a>
        <a href="{% url 'teams:team_roster' league.slug myteam.team.slug %}" class="btn btn-outline-dark" role="button">
          Roster
        </a>
        <a href="{% url 'teams:depth_chart' league.slug myteam.team.slug %}" class="btn btn-outline-dark" role="button">
          Depth Chart
        </a>
        <a href="{% url 'matchups:team_schedule' league.slug myteam.team.slug %}" class="btn btn-outline-dark" role="button">
          Schedule
        </a>
      </div>
    {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock content %}
